* {
    margin: 0;
    padding: 0;
}

body {
    background: #3a3d47;
}

.container {
    width: 1200px;
    background: white;
    margin: 10px auto;
}

.superior {
    background: #1551a1;
    overflow: hidden;
}

.logo {
    float: left;
    width: 300px;
    padding: 35px;
}


/* estilos para el menu de opciones */

.menu {
    float: left;
    padding: 50px;
}

.opciones li {
    float: left;
    list-style: none;
}

.opciones li a {
    color: white;
    padding: 25px;
    text-decoration: none;
    border: 1px solid white;
}

.opciones li a:hover {
    background: #0d356a;
}


/* estilos para el cuerpo */

.cuerpo {
    overflow: hidden;
}

.caja {
    float: left;
    width: 380px;
    margin: 8px;
    border: 1px solid;
}

.subtitulo {
    background: #1551a1;
}

.servicios {
    color: white;
    text-align: center;
    padding: 15px 0;
}

.efecto:hover {
    opacity: 0.8;
    cursor: pointer;
}

.contenido